In [132]:
#import dependencies
import os
import csv
import sys
assert sys.version_info >= (3, 5)

import requests
import gmaps

# Import API key
from config import gg_key

import numpy as np
import pandas as pd

In [133]:
# Read in Part 1 output cities file
output_data_file = "../WeatherPy/output_data/output_cities.csv"

# Read file into df
cities_df = pd.read_csv(output_data_file)

# Drop 'Unnamed: 0' column
cities_df = cities_df.drop(columns=['Unnamed: 0'])
cities_df.head(10)

,City,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Latitude,Longditude,Country,Date_Time
0,vaini,82.40,78,20,6.93,-21.20,-175.20,TO,1588558260
1,ushuaia,37.40,74,40,10.29,-54.80,-68.30,AR,1588558260
2,rikitea,73.58,74,100,16.17,-23.12,-134.97,PF,1588558261
3,bluff,47.97,81,100,16.02,-46.60,168.33,NZ,1588558261
4,atuona,81.59,75,4,19.33,-9.80,-139.03,PF,1588558261
5,new norfolk,63.00,76,71,1.01,-42.78,147.06,AU,1588558261
6,san carlos de bariloche,44.60,75,40,11.41,-41.15,-71.31,AR,1588558144
7,brae,33.80,71,9,5.82,60.40,-1.35,GB,1588558261
8,cherskiy,30.13,97,100,4.12,68.75,161.30,RU,1588558261
9,lebu,53.55,82,61,6.60,-37.62,-73.65,CL,1588558261

In [153]:
# Humidity heatmap

# Find max humidity for_maxintensity on heatmap
humidity_df = cities_df['Humidity (%)'].astype(float)
max_humidity = humidity_df.max()

# Establish city coordinates df
city_coord_df = cities_df[['Latitude', 'Longditude']]

# Generate heatmap
atlantic_coordiantes = (14.5994, 28.6731)
figure_layout = {
    'border': '1px solid black',
    'padding': '1px'
    }
gmaps_fig = gmaps.figure(layout=figure_layout, center=atlantic_coordiantes, zoom_level = 1)
heatmap_layer = gmaps.heatmap_layer(
    city_coord_df,
    weights=humidity_df,
    dissipating=False,
    max_intensity=max_humidity,
    point_radius=3
    )
gmaps_fig.add_layer(heatmap_layer)
gmaps_fig
# Display map

Figure(layout=FigureLayout(border='1px solid black', height='420px', padding='1px'))

In [146]:
# Ideal weather conditions df
# Criteria for ideal weather - create city list that meets criteria
ideal_weather_cities = cities_df.loc[
    (cities_df['Temperature (F)'] <= 80) &
    (cities_df['Temperature (F)'] >= 70) &
    (cities_df['Wind Speed (mph)'] < 10) &
    (cities_df['Cloudiness (%)'] == 0)
    ]
ideal_weather_cities = ideal_weather_cities.dropna(how='any')
ideal_weather_cities.reset_index(drop=True).head(10)

,City,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Latitude,Longditude,Country,Date_Time
0,bolobo,74.39,73,0,2.35,-2.17,16.23,CD,1588558267
1,mangai,71.06,82,0,1.86,-4.05,19.53,CD,1588558282
2,los llanos de aridane,71.60,46,0,4.70,28.66,-17.92,ES,1588558286
3,pitimbu,77.00,94,0,3.36,-7.47,-34.81,BR,1588558288
4,namibe,76.32,58,0,3.58,-15.20,12.15,AO,1588558301
5,carnarvon,73.40,100,0,8.05,-24.87,113.63,AU,1588558306
6,riyadh,75.20,23,0,4.70,24.69,46.72,SA,1588558238
7,tessalit,76.82,14,0,1.86,20.20,1.01,ML,1588558325
8,mecca,76.30,23,0,2.64,21.43,39.83,SA,1588558278

In [147]:
# Nearest Hotel

# Initialize hotel list
hotels = []

# Create new hotel df to store hotel names
hotels_df = ideal_weather_cities.reset_index(drop=True)
hotels_df['Hotel Name'] = ''

# Initialize hotel counter
hotel_counter = 0

# Prompt beginning of data retrieval
print('-'*15)
print('Finding Hotels')
print('-'*15)

# Loop through the ideal weather list of cities and perform a request for hotels on each
for index, row in hotels_df.iterrows():
    
    # Get lat/lng for each row
    lat = row['Latitude']
    lng = row['Longditude']
    
    # Set query parameters w/ config.py key
    params = {
        "location" : f"{lat},{lng}",
        "radius" : 5000,
        "types" : "lodging",
        "key" : gg_key
        }
    
    # Get query data
    query_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    response = requests.get(query_url, params=params).json()
    
    # Increment/record data retrieval for hotels
    hotel_counter += 1
    print(f'Fetching hotel for {hotel_counter} of {len(hotels_df)} cities...')
    
    try:
        hotels.append(response["results"][0]["name"])
    except:
        print('Hotel not found within 5000m radius.')
        hotels.append(np.nan)
    
# Prompt end of data retrieval
print('-'*15)
print('Search Complete')
print('-'*15)

---------------
Finding Hotels
---------------
Fetching hotel for 1 of 9 cities...
Hotel not found within 5000m radius.
Fetching hotel for 2 of 9 cities...
Hotel not found within 5000m radius.
Fetching hotel for 3 of 9 cities...
Fetching hotel for 4 of 9 cities...
Fetching hotel for 5 of 9 cities...
Fetching hotel for 6 of 9 cities...
Fetching hotel for 7 of 9 cities...
Fetching hotel for 8 of 9 cities...
Hotel not found within 5000m radius.
Fetching hotel for 9 of 9 cities...
---------------
Search Complete
---------------

In [148]:
# Store hotel names in hotels df
# Remove any missing results
hotels_df['Hotel Name'] = hotels
hotels_df = hotels_df.dropna(how='any')
hotels_df.reset_index(drop=True).head(10)

,City,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Latitude,Longditude,Country,Date_Time,Hotel Name
0,los llanos de aridane,71.60,46,0,4.70,28.66,-17.92,ES,1588558286,Valle Aridane
1,pitimbu,77.00,94,0,3.36,-7.47,-34.81,BR,1588558288,Reserva do Abiaí
2,namibe,76.32,58,0,3.58,-15.20,12.15,AO,1588558301,Chik-Chik Namibe
3,carnarvon,73.40,100,0,8.05,-24.87,113.63,AU,1588558306,Hospitality Carnarvon
4,riyadh,75.20,23,0,4.70,24.69,46.72,SA,1588558238,InterContinental Riyadh
5,mecca,76.30,23,0,2.64,21.43,39.83,SA,1588558278,Hotel Fairmont Makkah Clock Royal Tower

In [149]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the df row
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[['Latitude', 'Longditude']]

In [150]:
# Add marker layer ontop of heat map
add_markers = gmaps.marker_layer(locations)
gmaps_fig.add_layer(add_markers)
gmaps_fig
# Display map

Figure(layout=FigureLayout(border='1px solid black', height='420px', padding='1px'))